@{
    Layout = Layout = "~/Views/Shared/_Layout1.cshtml";
}


@{
    ViewData["Title"] = "Purchase Success";
}


@section Styles
    {
    <style>
        .inner_sec_info_wthree_agile {
            margin-top: 8em;
        }

    </style>
}

@model PurchaseForm


<div class="banner_bottom">
    <div class="container">
        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">
                <h2 class="text-center">Your Purchase Was Successful</h2>
                <p class="text-center" style="font-size:1.2em;">The recipient will receive a SMS message shortly on the phone number you provided, with their FunTokenz Code.<br />Simply use this FunTokenz code with any of our eligible partners to redeem your FunTokenz. <br />The tokens are valid for 24 months.</p>
            </div>
        </div>
    </div>
</div>
