@{
    Layout = Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

@model GeneralView

@section Styles
    {
    <style>
        .inner_sec_info_wthree_agile {
            margin-top: 8em;
        }
    </style>
}



<div class="banner_bottom">
    <div class="container">
        <div class="inner_sec_info_wthree_agile">
            <div class="container-fluid hero slim">
                <div class="container">
                    <div class="banner">
                        <div class="statement">
                            <h1>ACCEPT FUN TOKENZ</h1>
                            <h3>Expand your services to new customers by becoming a Fun Tokenz merchant. Our secure wallet and payment system can be easily integrated into your business, simply express your interest with us to become a participating Merchant.</h3>
                        </div>
                    </div>
                    <div class="art">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="p-0 m-0"><a href="~/">Home</a> . @Model.Title</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container general mt-5">
            <div class="row">
                <div class="col-12">
                    <h2>@Model.Title</h2>
                </div>
            </div>
        </div>
        </div>
</div>
