@{
    ViewData["Title"] = "Access Denied";
}

<div id="page-wrapper">
    <h2>@ViewData["Title"].</h2>
    <header>
        <p class="text-danger">Nice try, though you do not have access to this section; speak with the Administrator if you believe this to be in error.</p>
    </header>
</div>
