@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Request Password Reset";
}

<div id="page-wrapper">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <section>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                    <h5>Enter your email used to access the FunTokenz Console</h5>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group" style="max-width:600px">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group" style="max-width:600px">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Request New Password</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
