<h1 class="text-center w-100">Your Purchase Failed</h1>
<p class="my-3 text-center">We were unable to complete your purchase, <a href="~/buy">click here to try and purchase Fun Tokens</a> once more.</p>
