<h1 class="text-center w-100">Your Purchase Was Successful</h1>
<p class="my-3 page-mobile-title text-center">Your Fun Tokens have been purchased.<br/><br/>The recipient will receive a SMS message shortly on the phone number you provided, with their Fun Tokens Code.<br/><br/>Simply use this Fun Tokens code with any of our eligible partners to redeem your Fun Tokens. The tokens are valid for 24 months.</p>
