@{
    Layout = Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}


@section Styles
    {
    <style>
        .inner_sec_info_wthree_agile {
            margin-top: 0em;
        }

        .breadcrumb-1 {
            background: #F4F9FE;
        }
    </style>
}




<div class="container-fluid breadcrumb-1" style="margin-top: 8.1em">
    <div class="row">
        <p style="padding: 0.5em 0 0 1em"><a href="~/">Home</a> . Forgot your password?</p>
    </div>
</div>


<div class="banner_bottom">
    <div class="container">
        <div class="row">
            <div class="inner_sec_info_wthree_agile">
                <div class="help_full">
                    <div class="col-md-3 col-sm-12"></div>
                    <div class="col-md-6 col-sm-12 banner_bottom_grid help">
                        <!---728x90--->
                        <div class="signin-form">
                            <h2 style="text-align: start">Forgot your password?</h2>
                            <p style="font-size: 11pt; text-align: start">Enter in your email address to reset your password.</p>
                            <form aspasp-controller="Access" asp-action="Reset" method="post">
                                

                                <div asp-validation-summary="All" class="text-danger"></div>

                                <input type="email" asp-for="Email" placeholder="Enter your email address" required="">
                              

                                <div class="tp" style="margin-top: 1em">
                                    <button class="btn btn-danger btn-block" type="submit">Signin</button>
                                </div>
                            </form>

                            <div style="text-align: start">
                                <p style="margin-top: 1em">
                                    <a href="~/customers/signin"> Customers sign in</a><br />
                                    <a href="~/merchants/signin"> Merchants sign in</a><br />
                                    <a href="~/resellers/signin"> Resellers sign in</a>
                                </p>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-3  col-sm-12"></div>
                 
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

