@{
    Layout = Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

@model GeneralView


@section Styles
    {
    <style>
        .inner_sec_info_wthree_agile {
            margin-top: 8em;
        }
    </style>
}




<div class="banner_bottom">
    <div class="container">
        <div class="inner_sec_info_wthree_agile">
            <div class="container-fluid breadcrumb">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <p class="p-0 m-0"><a href="~/">Home</a> . @Model.Title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container general mt-5">
                            <div class="row">
                                <div class="col-12">
                                    <h2>@Model.Title</h2>
                                    @if (Model.Title == "Terms")
                                    {
                                        <p>
                                            This is important information which you must consider carefully when choosing whether to use the Services at any time and which will be considered to be accepted if using our product FunTokenz Card.
                                            <br /><br />Please read it carefully.
                                            <br /><br />You are solely responsible for understanding and complying with any and all laws, rules and regulations that may be applicable to you in connection with your purchase and use of FunTokenz Card. Please do not attempt to access, or make use of the product from, or in any jurisdiction where such access or use is prohibited by Applicable Laws.
                                            <br /><br />Please note the following notices and disclaimers and read the limitations and exclusion terms included in clause 13 (Liability) below:
                                        </p>
                                        <ul>
                                            <li>You acknowledge that the Products, like other Internet applications, are not secure. We will implement reasonable security measures in our Services in accordance with standard industry practice, but we do not guarantee the prevention or detection of any unauthorized attempts to access the Products.</li>
                                            <li>We shall not be liable for any damages or losses caused by unauthorized access or use of the Products caused by you (for instance, if you allow a third party, intentionally or inadvertently, to access our Products in your name, using your devices or your account and such party makes a purchase or payment or an instruction unauthorized by you).</li>
                                            <li>We are not liable for any damages or losses made by virtue of incorrect amounts due to being provided incorrect information from you or you giving us incorrect instructions. We are not responsible for verifying the accuracy of the information you supply us.</li>
                                            <li>We may close, suspend, or limit your access to our Products as much and for as long as we need to do so to protect you or us.</li>
                                            <li>You are solely responsible for procuring, maintaining and securing your connectivity to use the Products. We do not control, and are not responsible, for any and all problems, delivery failures and all other loss or damage relating to your network connection.</li>
                                            <li>If you dispute any transaction with any Accredited Website, our sole responsibility will be to verify whether the transaction was made in accordance with the information and instructions given by you to us.</li>
                                            <li>We shall not be liable for any administration fees charged by the Accredited Websites to you. Any complaint about the Accredited Websites’ administration fees shall be made by you to the Accredited Websites directly.</li>
                                            <li>We only supply the Product for domestic and private use. You must not use the Product for any commercial, business or re-sale purpose unless expressly agreed with us.</li>
                                        </ul>
                                        <p>
                                            <br /><b>Refund Policy:</b> if you request a refund of the money paid for the FunTokenz Card, said request should comply with certain conditions: a) Should be requested via support@FunTokenz.com  b) within 30 days from the purchase of the FunTokenz Card; and c) the refund of the funds shall be made through the same payment method through which the FunTokenz Card was purchased.
                                            <br /><br /><b>Definitions</b>
                                            <br /><br /><b>“Account or User Account”</b> means the User Account to which you must register to purchase and use the Product.
                                            <br /><br /><b>“Applicable Laws”</b> means any applicable statutes, laws, ordinances, orders, judgments, decrees, rules or regulations issued by any government authority, and any judicial or administrative interpretation of any of these which are the Laws of the Australia.
                                            <br /><br /><b>“Intellectual Property Rights”</b> means patents, rights to inventions, copyright and related rights, trademarks, trade names and domain names, rights in get-up, goodwill and the right to sue for passing off, unfair competition rights, rights in designs, rights in computer software, database rights, topography rights, rights to preserve the confidentiality of information (including know-how and trade secrets) and any other intellectual property rights, in each case whether registered or unregistered and including all applications (or rights to apply) for and be granted, renewals or extensions of, and rights to claim priority from, such rights and all similar or equivalent rights or forms of protection which subsist or will subsist now or in the future in any part of the world.
                                            <br /><br /><b>“Merchant or Accredited Website”</b> are the third parties who accept our Product as a means of payment for their goods and/or services.
                                            <br /><br /><b>“Privacy Notice”</b> means our privacy notice available at the Privacy Policy Section as amended from time to time.
                                            <br /><br /><b>“Product”</b> means FunTokenz Cards issued to you, the Account associated to them and the other services we provide to you under these General terms.
                                            <br /><br /><b>“Third Party Card”</b> means the gift cards / prepaid voucher, sold on our website/app, issued by a third party.
                                            <br /><br /><b>“Transactions”</b> are those detailed on section 7.4 of these terms and conditions.
                                            <br /><br /><b>“User”, “you”, “your”</b> means you the person using our Product and who is bound by these terms and conditions.
                                            <br /><br /><b>Terms and Conditions</b>
                                            <br /><br />1. The Product is provided by RH PTY LTD (“we”, “us”, “our” or “RH”, “FunTokenz”), a company registered in Australia under company number OC346322 and with its registered office at 253 Broadway, Glebe, Australia which issues FunTokenz Cards the “Product”.
                                            <br /><br />2. These Terms and Conditions (the “General Terms”) are the legal terms and conditions under which we issue and provide the Product to you.
                                            <br /><br />3. Please read these General Terms carefully and make sure that you understand them, before registering in our web and using our Product.
                                            <br /><br /><b>By registering with us, you confirm that you have read, understood and accepted these General Terms and that you agree to fully comply with them. If you do not agree to these General Terms, you must not register nor use our Products. </b>
                                            <br /><br />Please note that you agree to be bound by these General Terms and the other relevant documents expressly referred to in it, from the time that you register to use the Product up until the time you cease using the Product or these terms are terminated.
                                            <br /><br />4. You should print a copy of these General Terms or save them to your computer for future reference.
                                            <br /><br />5. We may amend these General Terms from time to time. Every time you wish to use our Products, please check these General Terms to ensure you understand the terms which will apply at that time. However, as per applicable law in certain cases of substantial changes we will notify said changes via push notifications or e-mail.
                                            <br /><br />6. User’s Requirements:
                                            <br />6.1. Age Requirement: By using our Product, you warrant that you have the right, authority and capacity to enter into and be bound by these General Terms. You affirm that you are not under 18 years of age or under the legal age of access and use of our Products in your jurisdiction.
                                            <br />6.2. Identity Information:
                                            <br />6.2.1. To register for an Account at our web, the User must submit to the Provider certain personal information (henceforth "Personal Information") that may be used by the Provider to verify the identity of the user where necessary.
                                            <br />6.2.2. You affirm that the information you have provided to us is true, accurate and complete. You agree to provide us with true, precise and complete information when we request it, including but not exclusively for purposes of identity verification and the detection of money laundering, terrorist financing, fraud or any other financial crime.
                                            <br />6.2.3. We reserve the right to request, at any time (via email, telephone or any other means) any further information or documentation to verify your identity, address, authenticity of the transactions, and other information as required in accordance with Applicable Law.
                                            <br />6.2.4. You agree to provide to us upon request proof of identity, proof of residence and proof of your entitlement to top up FunTokenz Card, including without limitation, credit and debit cards and bank accounts that you may wish to use to transfer funds to acquire an FunTokenz Card.
                                            <br />6.2.5. Your Account will not be created unless you have provided to us all the information that we have requested from you so that we may identify you and comply with all applicable know-your-customer (“KYC”) requirements under Applicable Law. We shall keep records of the information and documents you provide in accordance with our Privacy Notice and all Applicable Law requirements.
                                            <br />6.2.6. In the event that we have reasons to believe that you have provided us with false information or Account details we reserve the right to terminate the provision of our Services to you and restrict your access, suspend or cancel your Account without prior notice.
                                            <br />6.2.7. You warrant and affirm that the email address with which you register your Account is an active, valid email address controlled by you. You agree to indemnify us and hold us harmless for any losses or damages we suffer arising from any false or inaccurate information you provide to us or from any unlawful activity carried out, or permitted, by you.
                                            <br />6.3. Domicile Requirement: We reserve the right to restrict or decline, at any time any purchase made with the Product, or any use of the Product, from any jurisdiction outside of your jurisdiction of residence, or when your request is in breach of these General Terms or any Applicable Law. The jurisdictions in which we allow you to use the Product may vary from time to time (as specified in our website or app).
                                            <br />6.3.1. You agree not to and not attempt to (and not to permit or authorize anyone to):
                                            <br />6.3.1.1. disguise, or interfere in any way, with any method of detecting the true location where you access or use our Product, or
                                            <br />6.3.1.2. act in any way to prevent us from correctly identifying the actual IP address you are using while accessing or using the Product,
                                            <br />6.3.1.3 use virtual private networks (VPNs), or any technology that aims to mask your IP address, or any relevant details; or
                                            <br />6.3.1.4. circumvent (or attempt to circumvent) any restrictions we apply to our Product. Any breach of clause 6.3.1, will be a material breach of these General Terms.
                                            <br />6.4. Duties of the User and User Account:
                                            <br />6.4.1. You shall comply with all Applicable Laws when using our Products. We reserve the right to refuse to process transactions with the Product where such transactions are not compliant with the Applicable Law or these Terms and Conditions.
                                            <br />6.4.2. You acknowledge and agree that any purchase of the Product has the sole purpose of allowing you to make payments in good faith in Accredited Websites, and that shall not be considered as a credit granted by us to you or to another third party.
                                            <br />6.4.3. You are responsible for providing and paying for any means and equipment and connectivity necessary to access the Product. You shall be, to the extent permitted by Applicable Law, and except as otherwise expressly provided in these General Terms, solely responsible for procuring, maintaining and securing your network connections and telecommunications links to use the Product. We have no control over, and are not responsible, for all problems, delays, delivery failures and all other loss or damage arising from or relating to your network connections or telecommunications links or caused by the internet.
                                            <br />6.4.4. You acknowledge that the Products, like other Internet applications, are not secure. We will implement reasonable security measures in our Services in accordance with standard industry practice, but we do not guarantee the prevention or detection of any unauthorized attempts to access the Products.
                                            <br />6.4.5. We shall not be liable for any damages or losses caused by unauthorized access or use of the Product caused by you (for instance, if you allow a third party, intentionally or inadvertently, to access the Product using your devices or your accounts and such party makes a payment or an instruction unauthorized by you).
                                            <br />6.4.6. You shall not use the Product for any illegal purposes.
                                            <br />6.4.7. You must not create more than one Account for your own use of the Product.
                                            <br />6.4.8. Your Account and your FunTokenz Card is personal and shall not be transferred to or shared with any other person. In the event that another person accesses your Account or your FunTokenz Card due to you having provided or made available, intentionally or inadvertently any of your Account details, passwords or any other information to a third party, you are liable for any occurrence during this access. You shall compensate us for all and any losses, damages, costs and expenses we may suffer as a result of any failure by you to keep your Account details and passwords confidential.
                                            <br />6.4.9. You shall use your Account in accordance with these General Terms, and you shall always maintain the confidentiality of your user name and password and any other credentials.
                                            <br />6.4.10. You shall immediately notify us via email at support@FunTokenz.com if you are aware of, or have any suspicion of, unauthorized use of the Product or any fraudulent activity or breach of security, including unauthorized use of your debit or credit card.
                                            <br />6.4.11. We only supply the Product for domestic and private use. You must not use the Product for any commercial, business or re-sale purpose.
                                            <br /><br />7. The Account of the Product and the Product:
                                            <br />7.1. The User acknowledges and accepts that each FunTokenz Card is provided to the User for the sole purpose of allowing the User to make bona fide payments to FunTokenz Merchants or Accredited Websites, (and the ability to make such payments should under no circumstances be construed as credit granted by us to you).
                                            <br />7.2. You may at any time buy an FunTokenz Card up to the limits that from time to time may be determined by us.
                                            <br />7.3. Each FunTokenz Card is associated with an ID Number and Expiry Date. The User shall not attempt to make a payment transaction or otherwise use the FunTokenz Card beyond its Expiry Date. After the Expiry Date of an FunTokenz Card any funds available in an FunTokenz Card will be retained by us, and we will have no obligation to refund such funds to you.
                                            <br />7.4. The Following are the transactions which may be executed with the Product:
                                            <br />7.4.1. Issuance: you may acquire an FunTokenz Card by successfully applying for the card. We will issue an FunTokenz Card to you with the amount you request (subject to any applicable limits) by paying with the allowed payment methods which will be available in your Account.
                                            <br />7.4.2. Refund Policy: if you request a refund of the money paid for the FunTokenz Card, said request should comply with certain conditions: a) Should be requested via support@FunTokenz.com b) within 30 days from the purchase of the FunTokenz Card; and c) the refund of the funds shall be made through the same payment method through which the FunTokenz Card was purchased.
                                            <br />7.5. We will use reasonable endeavors to maintain the operation of the Product. Whenever it is necessary to temporarily suspend the Product for operational or other reasons, we will use reasonable endeavors to restore the Product as soon as reasonably practicable.
                                            <br />7.6. You acknowledge and agree that the use the Product and the Account that is part of the Product may be subject to limits and conditions imposed by the Applicable Laws and any regulatory authority as by our own dispositions. We reserve the right to restrict the maximum number of FunTokenz Cards you may have at the same time and the maximum amount of any Transaction processed by us as stated by us and or as required by Applicable Law.
                                            <br />7.7. You acknowledge that delays may occur on transferring funds between us and the Accredited Websites, or for any other reason related to the operation of the financial network and the banking system. We shall not be liable for any delays in the processing of payments via the Product caused by third parties.
                                            <br />7.8. We may subcontract or delegate in any manner any or all of our obligations under this Agreement to any third party so as to enable or facilitate the use of the Product by you.
                                            <br />7.9. You accept and authorize the exchange rates used by us or any intermediary institution used by us for the purposes of processing the transactions you request.
                                            <br />7.10 To the extent applicable in your country of residence, you accept that any debit arising from purchases made by you may be subject to exchange transactions executed by an institution authorized by the applicable Central Bank. As a consequence, and in order to allow the remittance of funds for purchases made abroad, you appoint the payment agent authorized by FunTokenz as you attorney-in-fact, with power to carry out exchange transactions and execute the necessary agreements for the success of this transaction (including but not limited to powers to negotiate terms, fees, renegotiate fees, or even substitute in whole or in part the mandate granted). For these purposes, you hereby acknowledge and authorize the use of your data to perform and complete the transaction made and to process the payments made by you.
                                            <br /><br />8. Our Fees and Other Taxes:
                                            <br />8.1. FunTokenz reserves the right to charge an administration fee,]Prior to any administration fees becoming applicable, the Provider will inform the User of the amount and date from which the fees will be applicable; the User will then have 30 days from the date of notice to close the Account. Failure to close the account after due notice has been given will be deemed acceptance of the fees by the User, and the User is hereby giving consent for the Provider to debit such administration fees as may apply in such an event.
                                            <br />8.2. You are responsible for paying any taxes related to the transaction processed via the Product.
                                            <br />8.3. If you dispute any transaction with any Accredited Website, our sole responsibility will be to verify whether the transaction was made in accordance with the information and instructions given by you to us.
                                            <br /><br />9. Annexes
                                            <br />The following documents are an integral and non-severable part of these General Terms, and they may be access to you by directly accessing to the relevant link below:
                                            <br />* Terms and Conditions for challenges
                                            <br />* Terms and Conditions applicable to Affiliate Program
                                            <br />* General Promotion Terms and Conditions
                                            <br /><br />10. Intellectual property rights
                                            <br />10.1. The Intellectual Property Rights on any intellectual property related to the Product including the Account, the web, its functionality and appearance, are either owned by or licensed to us. According to these General Terms we grant you a limited, nontransferable, non-sublicensable and revocable license to use the relevant the Product in accordance with these General Terms.
                                            <br />10.2. You are expressly prohibited from: reproducing, copying, sharing, editing, transmitting, uploading, modifying, altering, incorporating into any other materials, reverse engineering, data mining, removing, commercializing or using any Intellectual Property in the Product including in the Account and the web, its functionality and appearance;
                                            <br />10.3. You are expressly prohibited to do, or permit others to do any act which may be seen as taking unfair advantage of our reputation or goodwill or any Intellectual Property Rights in Website, the Product, and/or our business in general; and doing anything that could be considered an infringement of the Intellectual Property Rights owned and/or licensed to RH PTY LTD without first obtaining the written permission of the owner of the Intellectual Property.
                                            <br /><br />11. User’s Personal Information
                                            <br />11.1. Under data protection legislation, we are required to provide you with certain information about: who we are, how and for what purpose we process your personal data, your rights and how to exercise them in relation to your personal data. This information is provided in our “Privacy Notice”and it is important that you read that information.
                                            <br />11.2. Information related to you (henceforth “User Information”) may be processed by us for the purposes set out in our Privacy Notice.
                                            <br />11.3. For instance, User Information includes any information which we process:
                                            <br />11.3.1. during your registration and interactions with us and your use of the Product;
                                            <br />11.3.2. and share with third parties, such as credit reference agencies and parties associated with you;
                                            <br />11.3.3. to process payments made by you using the Product, including the name of the Merchant and Accredited Website and the general nature of the goods and services paid for; and
                                            <br />11.3.4. to verify your identity, residence or authorisation to use third-party payment services to transfer funds though the Product.
                                            <br />11.4. We may process your User Information to perform our obligations under these General Terms and to comply with Applicable Laws. This will include the following purposes:
                                            <br />11.4.1. operating and administering the Product including the Account;
                                            <br />11.4.2. financial risk assessment, money laundering checks, compliance and regulatory reporting and fraud prevention;
                                            <br />11.5. We may process your User Information in accordance with our Privacy Notice for the purpose of
                                            <br />11.5.1. identifying products which may interest you; and
                                            <br />11.5.2. understanding existing business and developing new and innovative products and services.
                                            <br />11.6. We will share information with the Merchant from which you have ordered goods and services for the purpose of completing your order and your associated payment.
                                            <br />11.7. We will not disclose your information to third parties except:
                                            <br />11.7.1. where your consent is obtained;
                                            <br />11.7.2. where we are required or permitted to do so by Applicable Law; or
                                            <br />11.7.3. where required for tax purposes, verification, money laundering and fraud prevention purposes.
                                            <br />11.8. The User accepts that FunTokenz may provide the User's information to a third party provider in order to comply with the provision of the services, such as sending users SMS messages
                                            <br /><br />12. Term, Suspension and Termination
                                            <br />12.1. These General Terms will remain in full force and effect while you are a User.
                                            <br />12.2. We may at any time in compliance with Applicable Laws, restrict your access, suspend or terminate your access to your Account.
                                            <br />12.3. We reserve the right to suspend the Account any time for maintenance purposes. In the event that we do so we will use reasonable endeavors to provide general information to our users.
                                            <br />12.4. If you wish to cease being a User, you can do so at any time by closing your Account or alternatively, you can send us an email at support@FunTokenz.com.
                                            <br />12.5. Closure will not cancel any transactions which you have previously authorized.
                                            <br />12.6. Should we have reason to believe that you have, or are, in breach of the General Terms or any Applicable laws or that you are making any illegal and/or unauthorized use of the Services, we reserve the right to restrict your access to the Product, suspend or cancel your Account without prior notice or terminate these General Terms. This is without prejudice or waiver to our right to initiate legal proceedings or report any infringements to the relevant authorities. Illegal, fraudulent and/or unauthorized use of the Product includes but is not limited to:
                                            <br />12.6.1. using the Product including the Account without satisfying the age requirement of at least 18 years old or relevant age according to Applicable Laws;
                                            <br />12.6.2. using the Product, or allowing it to be used by a third party, in breach of these General Terms;
                                            <br />12.6.3. submitting false, inappropriate or inaccurate information or account details or personal data to us or to any Accredited Website;
                                            <br />12.6.4. engaging in, or attempting to engage in, any collusion, cheating, unlawful, dishonest, fraudulent, illegal or improper activity while using the Account or Product. Including opening of multiple Accounts, using multiple Accounts for fraudulent purposes, any manipulation, or the making of any fraudulent payment, including without limitation, the use of false credit or debit card details or requesting fraudulent chargebacks or money laundering;
                                            <br />12.6.5. acting in a manner that is detrimental to the conduct of our business or which may result in legal liability for you, us or a third party;
                                            <br />12.6.6. providing, creating or disseminating computer viruses;
                                            <br />12.6.7. any other irregular activity which diverges from the normal use of the Product and which harms or may potentially harm either us, or any other third party. Harm includes both monetary and non-monetary damages such as moral damage, threats or bribery actions or reputational damages;
                                            <br />12.6.8. any money laundering, terrorism financing, other criminal activity, other breach of Applicable Law; or
                                            <br />12.6.9. if we have any other security or legal or regulatory compliance concerns.
                                            <br />12.7. We may also terminate or suspend your Account or terminate these General Terms immediately in the event that:
                                            <br />12.7.1. we are unable to verify your identity or any other information pertaining to you; and/or
                                            <br />12.7.2. we are required to do so in accordance with our legal and regulatory obligations under Applicable Law; or
                                            <br />12.7.3. we cease to be authorised to provide the Product.
                                            <br />12.8. All your and our rights and obligations under the General Terms shall cease to have effect immediately upon termination or expiry of the General Terms save that the clauses of the General Terms which are expressed to survive its termination or expiry, or which from their nature or context it is contemplated that they are to survive termination or expiry shall continue in force following termination or expiry of this General Terms.
                                            <br /><br />13. Right to vary these terms:
                                            <br />13.1. We may, in our sole discretion, update or revise these General Terms from time to time.
                                            <br />13.2. Except as provided in Clause 13.4, whenever we revise these General Terms, we will keep you informed or ask you to accept our updated General Terms before you make an new purchase or transaction. We will also state that these General Terms have been amended and the relevant date when the changes take effect .
                                            <br />13.3. Upon the notification specified in Clause 13.2, if you wish to terminate the contract with us, you may do so by stop using the Services and closing your Account or sending us a termination notice. If after expiry of the notice period you continue to use the Product, you will be deemed to have accepted any changes to these General Terms.
                                            <br />13.4. We reserve the right to make changes to the Product including to our web/app and the Account and to these General Terms from time to time without any prior notice to you provided that such changes have no material adverse effect on you or are required by relevant Applicable Law and regulations (e.g. to implement minor technical adjustments and improvements, or to address a security threat or to comply with regulatory requirements). In this event, the updated General Terms will be posted on our web/app.
                                            <br /><br />14. Liability:
                                            <br />14.1. We do not in any way exclude or limit our liability where it would be unlawful under Applicable Law, which includes but is not limited to:
                                            <br />14.1.1. death or personal injury caused by our negligence;
                                            <br />14.1.2. fraud or fraudulent misrepresentation;
                                            <br />14.1.3. for breach of your legal rights in relation to the Services; and
                                            <br />14.1.4. any other liability which cannot be excluded or limited by Applicable Law.
                                            <br />14.2. If we fail to comply with these General Terms, we are responsible for loss or damage you suffer that is directly caused and is a foreseeable result of our breach of these General Terms or our failing to use reasonable care and skill or our negligence. We are not responsible for any loss or damage that is not foreseeable (including in, special or consequential loss).
                                            <br />14.3. We shall not be liable for any damages or losses (including, without limitation, in consequential, special, incidental, or punitive damages) caused in whole or part by:
                                            <br />14.3.1. payments made to unwanted recipients or payments in incorrect amounts due to being provided incorrect information by you;
                                            <br />14.3.2. any errors or omissions in the content or operation of the Accredited Websites, misuse of the Accredited Websites or inability to access the Accredited Websites;
                                            <br />14.3.3. delays, losses, errors or omissions resulting from failure of a telecommunications or any other data transmission system or failure of the Accredited Websites’ computer system;
                                            <br />14.3.4. any losses caused by the equipment, devices and networks (including internet and telecommunication networks) you use to access the Product;
                                            <br />14.3.5. the suspension of the Product or on the availability of the Web due to failures, delays, interruptions or otherwise; or
                                            <br />14.3.6. any loss or damage caused by any Merchant or Accredited Website’s product or service; and
                                            <br />14.3.7. defects in the services and/or products as provided by the Accredited Websites or by any Merchant,
                                            <br />14.3.8. charges, fees or other taxes in respect of any goods or services you order.
                                            <br />14.4. By accepting these Terms and Conditions you agree to indemnify and hold us harmless from any liabilities, claims, losses or demands made by any third party arising from your misuse of the Product, including the Account of the Product which includes but is not limited to your breach of these General Terms or a breach by you of any Applicable Law or rights of any third party. You agree to fully cooperate in the defense of any claim that we may have to respond as a result of your misuse of the Product.
                                            <br />14.5. Except to the extent that the loss or damage is caused by the negligence of us or by our breach of these General Terms, we shall not be liable to you for any loss or damage which you may suffer by using third party websites, including the Accredited Websites, and you acknowledge and agree that you must claim any rights with such third party websites.
                                            <br />14.6. If you dispute any transaction with any Accredited Website, our sole responsibility will be to verify whether the transaction was made in accordance with the information and instructions given by you to us.
                                            <br />14.7. We shall not be liable for any administration fees charged by the Accredited Websites to you. Any complaint about the Accredited Websites’ administration fees shall be made by you to the Accredited Websites directly.
                                            <br />14.8. We are not liable for business losses. We only supply the Products for domestic and private use. If you use the Product for any commercial, business or re-sale purpose: (i) you will be in breach of these General Terms; and (ii) in any event we will have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity or loss and/or loss or corruption of data and our total aggregated liability to you in any calendar year shall be limited to the lesser of; (i) $500 or (ii) the combined value of the unexpired FunTokenz Cards you have when the loss or damage arises.
                                            <br /><br />15. Events outside our control:
                                            <br />15.1. We will not be liable or responsible, or be deemed to be in breach of these General Terms, for any failure to perform, or delay in performance of, any of our obligations under these General Terms that are a result of any act or event which is beyond our reasonable control, including without limitation strikes, lock-outs or other industrial action of any kind, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war, any act of God, fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster, or failure of public or private telecommunications networks and utilities.
                                            <br />15.2. Third Party’s Card value, at the time of redemption, may be changed by the Third Party Card issuer. The User, by accepting these Terms and Conditions, is accepting the possibility of price variation for which we are not responsible. We will not be liable or responsible or be deemed to be in breach of these General Terms, for an eventual price variation by the Third Party Card issuer.
                                            <br /><br />16. Communications between us:
                                            <br />16.1. When we refer, in these General Terms, to “in writing”, this will include e-mail.
                                            <br />16.2. If you wish to contact us in writing for any reason, or to report issues with our Product please contact us by email at support@FunTokenz.com.
                                            <br />16.3. If we have to contact you, or give you notice in writing, we will do so by e-mail, phone, an InMail (push notice) to your Account or by pre-paid post to the address or phone number detailed on your Account.
                                            <br />16.4. The provisions of this Clause shall not apply to the service of any proceedings or other documents in any legal action.
                                            <br /><br />17. Other Important Terms:
                                            <br />17.1. These General Terms together with the documents referred to in it, contains the entire agreement between you and us for your use of the Services and overrides any previously written, oral arrangement, understanding or agreement.
                                            <br />17.2. If any part of these General Terms is held unenforceable, that part shall be enforced to the maximum extent permitted by Applicable Law so as to give effect to the intent of the parties, and the remaining part of these General Terms shall continue in full force and effect.
                                            <br />17.3. These General Terms are between you and us. No other person shall have any rights to enforce any of its terms, whether under the Contracts (Rights of Third Parties Act) 1999 or otherwise. Neither of us will need to get the agreement of any other person in order to end the contract or make any changes to these General Terms.
                                            <br />17.4. We may transfer our rights and obligations under these General Terms to another organization without notice to you, but this will not affect your rights under these General Terms.
                                            <br />17.5. If we fail to insist that you perform any of your obligations under these General Terms, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not oblige us to automatically waive any later default by you.
                                            <br /><br />18.These General Terms are governed by English law and you can bring legal proceedings in respect of the products in the English courts. If you are a consumer and live in Scotland, you can bring legal proceedings in respect of the products in either the Scottish or the English courts. If are a consumer and you live in Northern Ireland, you can bring legal proceedings in respect of the products in either the Northern Irish or the English courts.
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


