@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    ViewData["Title"] = "Home";
}


@section Styles
    {
    <style>
        .inner_sec_info_wthree_agile {
            margin-top: 7em;
        }
    </style>
}




<div class="banner_bottom">
    <div class="container">
        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">
                <div class="col-md-6 banner_bottom_grid help">
                    <img style="width: 441px" src="~/images/customer-square.jpg" class="img-responsive framed-image" />
                </div>
                <div class="col-md-6 banner_bottom_left">
                    <h1>PAY & PLAY</h1>
                    <p>
                        Create a Fun Tokenz digital wallet for use with our Merchants anywhere,
                        anytime. It's simple and free to create a wallet with us, deposit tokens
                        by purchasing in your local currency and access a new way to pay with our
                        Merchants.
                    </p>

                    <div class="col-md-12 col-sm-4 col-lg-4">
                        <div class="ab_button">
                            <a class="btn btn-primary btn-block btn-lg" href="~/customers/join" role="button">Open a wallet </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-4 col-lg-4">
                        <div class="ab_button">
                            <a class="btn btn-primary btn-block btn-lg" href="~/customers/signin" role="button">Top up wallet </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-4 col-lg-4">
                        <div class="ab_button">
                            <a class="btn btn-primary btn-block btn-lg" href="~/customers/signin" role="button">Send money </a>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">
                <div class="col-md-6 banner_bottom_left">
                    <h1>ACCEPT FUN TOKENZ</h1>
                    <p>
                        Expand your services to new customers by becoming a Fun Tokenz merchant.
                    </p>
                    <p>
                        Our secure wallet and payment system can be easily integrated into your business,
                        simply express your interest with us to become a participating Merchant.
                    </p>

                    <div class="col-md-12 col-sm-6 col-lg-6">
                        <div class="ab_button">
                            <a class="btn btn-primary btn-block btn-lg" href="~/merchants/join" role="button">Become a merchant </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-lg-6">
                        <div class="ab_button">
                            <a class="btn btn-primary btn-block btn-lg" href="~/merchants/signin" role="button">Access your account </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img style="width: 441px; margin-top: 20px" src="~/images/merchant-square.jpg" class="img-responsive framed-image-2 pull-right" />
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="news-main">
            <div class="col-md-6 banner_bottom_grid help">
                <img style="width: 441px" src="~/images/reseller-square.jpg" class="img-responsive framed-image-2" />
            </div>
            <div class="col-md-6 banner_bottom_left">
                <h1 style="margin-top: 20px">HELP US GROW</h1>
                <p>
                    We're looking for resellers and businesses to help us expand.
                </p>
                <p>
                    We have a variety of solutions for resellers to earn and grow with us along the way.
                </p>
                <p>
                    To become an authorised Reseller of Fun Tokenz express your interest with us below.
                </p>

                <div class="col-md-12 col-sm-6 col-lg-6">
                    <div class="ab_button">
                        <a class="btn btn-primary btn-block btn-lg" href="~/resellers/join" role="button">Become a reseller </a>
                    </div>
                </div>

                <div class="col-md-12 col-sm-6 col-lg-6">
                    <div class="ab_button">
                        <a class="btn btn-primary btn-block btn-lg" href="~/resellers/signin" role="button">Access your account </a>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

